.header {
  display: flex;
  padding-left: 3.8rem;
  padding-right: 3rem;
  border-bottom: 2px solid $border-color;
  box-shadow: 0 0 4px rgba($border-color, .5);
}
.header__left {
  display: flex;
  width: 40%;
  justify-content: flex-start;
}
.header__center {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  align-items: center;
}
.header__right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
