.nav {
  display: flex;
}
.nav__list {
  display: flex;
}
.nav__link {
  display: block;
  padding: 1.2rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: $black;
  transition: color .2s linear;
  &:hover {
    color: lighten($black, 25%);
  }
  &.has--logo {
    font-family: $default-font-bold;
    font-size: 2rem;
    &:hover {
      color: lighten($black, 25%);
    }
  }
}
