<footer class="footer">
    <div class="footer__left">
        <div class="nav__list nav__footer">
            <div class="logo"><a href="/" class="nav__link has--logo">Artem Blog`s</a></div>
            <p>2020 copyright all rights reserved</p>
        </div>
    </div>
    <div class="footer__right ">
        <nav class="nav">
            <ul class="nav__list nav__footer">
                <li><a href="" class="nav__link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li>
                    <a href="https://www.linkedin.com/in/artem-guida-27660917a/" class="nav__link">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/sledua" class="nav__link">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
