<footer class="footer">
    <div class="header__left">
        <div class="nav__list">
            <div class="logo"><a href="/" class="nav__link has--logo">Artem Blog`s</a></div>

        </div>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li><a href="" class="nav__link"><img src="assets/images/icon/instagram.svg" alt="instagram"></a></li>
                <li><a href="" class="nav__link"><img src="assets/images/icon/twitter.svg" alt="twitter"></a></li>
                <li><a href="" class="nav__link"><img src="assets/images/icon/linkid.svg" alt="instagram"></a></li>
            </ul>
        </nav>
    </div>
</footer>
