<header class="header">
    <div class="header__left">
        <div class="nav__list">
            <div class="logo"><a href="/" class="nav__link has--logo">Artem Blog`s</a></div>

        </div>
    </div>
    <div class="header__center">
        <from action="/" method="post" class="search">
<!--            <img src="assets/images/icon/search.svg" alt="search">-->
            <input type="text" placeholder="Search" class="search__input">
        </from>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li><a href="/" class="nav__link">Главная</a></li>
                <li><a href="/" class="nav__link">Информ</a></li>
            </ul>
            <ul class="nav__list">
                <li><a href="" class="nav__link"><img src="assets/images/icon/instagram.svg" alt="instagram"></a></li>
                <li><a href="" class="nav__link"><img src="assets/images/icon/twitter.svg" alt="twitter"></a></li>
                <li><a href="" class="nav__link"><img src="assets/images/icon/linkid.svg" alt="instagram"></a></li>
            </ul>
        </nav>
    </div>
</header>

