<ul class="pagination">
    <li class="pagination__item">
        <a href="/" class="pagination__link">&lt;</a>
    </li>
    <li class="pagination__item active">
        <a href="/" class="pagination__link">1</a>
    </li>
    <li class="pagination__item">
        <a href="/" class="pagination__link">2</a>
    </li>
    <li class="pagination__item">
        <a href="/" class="pagination__link">3</a>
    </li>
    <li class="pagination__item">
        <a href="/" class="pagination__link">&gt;</a>
    </li>
</ul>
