<div class="post">

    <div class="post-text">
        <span class="post__navigation">
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="">Photoshop мощній инструмент наших дней</a></li>
            </ul>
        </span>
        <h3>Photoshop мощній инструмент наших дней</h3>
        <div class="post-info">
            <ul>
                <li><a href="">Автор <span>Артем Артем</span></a></li>
                <li><time >28.11.2020</time></li>
                <li><a href=""><span class="share__text">Поделиться</span><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <p>CSS в настоящее время находится на версии 3 (CSS3) и постоянно развивается как браузеры, и компьютеры становятся более мощными.
            С CSS3 Вы получаете анимации, больше визуальных эффектов, и очень, намного лучше поддерживаете для функций расположения как столбцы и сетки среди других функций.
            Для поддержки функции CSS3 более зависит от браузера пользователя, чем HTML. С HTML браузеры рассматривают неизвестные теги как простой текст, таким образом, они все еще представляют правильно. Но более старые браузеры, вероятно, не будут поддерживать более новые функции в CSS3 — и это будет влиять как Ваш взгляд страниц и функция. Вы узнаете больше об этом позже в книге.
        </p>
        <blockquote>- С CSS3 Вы получаете анимации -</blockquote>
        <div class="img-prev">
            <img src="assets/images/posts/post-img.jpg" alt="">
        </div>
        <p>Даже при том, что HTML и CSS выполняют различные функции для веб-сайта, они почти всегда связываются в учебных материалах, таких как эта книга.
            Поэтому они - эти два базовых языка, необходимые для того, чтобы сделать современные веб-сайты. Хотя технически только HTML требуется, чтобы делать веб-страницу, без CSS Вы получите мягкий веб-сайт, который не похож намного больше, чем документ
            Из-за совместных действий между HTML5 и CSS3, мы живем в довольно захватывающее время для создания веб-сайта. Вещи, которые мы когда-то должны были взломать вместе, теперь исходно поддерживаются (как столбцы текста), и HTML становится более семантическим и доступным.
            Это означает, что больше людей с различными способностями может использовать веб-сайты, поисковые системы получают более полезную информацию, и веб-сайты должны загрузиться быстрее, потому что Вы не должны добавлять обходные решения или дополнительную обработку для создания определенных аспектов из работы веб-сайта.
        </p>
        <h4>Section</h4>
        <p>CSS в настоящее время находится на версии 3 (CSS3) и постоянно развивается как браузеры, и компьютеры становятся более мощными.
            С CSS3 Вы получаете анимации, больше визуальных эффектов, и очень, намного лучше поддерживаете для функций расположения как столбцы и сетки среди других функций.
            Для поддержки функции CSS3 более зависит от браузера пользователя, чем HTML. С HTML браузеры рассматривают неизвестные теги как простой текст, таким образом, они все еще представляют правильно. Но более старые браузеры, вероятно, не будут поддерживать более новые функции в CSS3 — и это будет влиять как Ваш взгляд страниц и функция. Вы узнаете больше об этом позже в книге.
        </p>
        <blockquote>- С CSS3 Вы получаете анимации -</blockquote>
        <p>Даже при том, что HTML и CSS выполняют различные функции для веб-сайта, они почти всегда связываются в учебных материалах, таких как эта книга.
            Поэтому они - эти два базовых языка, необходимые для того, чтобы сделать современные веб-сайты. Хотя технически только HTML требуется, чтобы делать веб-страницу, без CSS Вы получите мягкий веб-сайт, который не похож намного больше, чем документ
            Из-за совместных действий между HTML5 и CSS3, мы живем в довольно захватывающее время для создания веб-сайта. Вещи, которые мы когда-то должны были взломать вместе, теперь исходно поддерживаются (как столбцы текста), и HTML становится более семантическим и доступным.
            Это означает, что больше людей с различными способностями может использовать веб-сайты, поисковые системы получают более полезную информацию, и веб-сайты должны загрузиться быстрее, потому что Вы не должны добавлять обходные решения или дополнительную обработку для создания определенных аспектов из работы веб-сайта.
        </p>
        <h4>Section 1</h4>
        <p>
            Другая причина HTML и CSS так часто обсуждаются вместе, состоит в том, что они оба обрабатываются браузером пользователя. Другие веб-технологии, программы и работа приложений по-другому. Некоторые могли бы быть обработаны сервером или некоторыми на компьютере разработчика и экспортированы. HTML и CSS исключительно расположены, потому что исходный код доступен для пользователя в браузере.
            Когда что-то новое добавляется к HTML или CSS, это до каждого отдельного браузера для реализации изменений. Это означает, что Google Chrome, Firefox, Safari и Microsoft Edge могут реализовать новые опции в разное время.
            В результате веб-сайты, которые Вы создаете, могли бы выглядеть по-другому в каждом браузере.
            Мы будем говорить больше о тестировании Ваших веб-сайтов в более поздней главе, но знание этого поможет Вам понять истинное питание HTML и CSS: любое устройство, которое имеет браузер, может просмотреть Ваш веб-сайт.
            Это также означает, что Вам не нужны никакие дополнительные инструменты, оборудование или расходы, чтобы начать делать веб-сайты. Можно сделать его правильно от компьютера.
            Давайте сделаем это теперь.
        </p>
    </div>
</div>
