<div class="posts__list">
    <div class="posts__list__item top">
        <div class="item__text">
            <h3>Постер для дома</h3>
            <p>Краткий гайд по созданию кастомной постерной темы, и то что нам понадобиться. Как дела будут обстоять с подходами инструментами и утт вопрос текста в принципе тут вопрос так себе давай попробую просто подсчитать сколько мне нужно текста для нормального вывода текста</p>
            <div class="item__text__info">
                <time>27.12.2020</time>
                <a href="">Читать</a>
            </div>
        </div>
<!--        <div class="item__img__top">-->
<!--            <img src="assets/images/posts/test_img.jpg" alt="">-->
<!--        </div>-->
        <img src="assets/images/posts/test_img.jpg" alt="">
    </div>
    <div class="posts__list__item small left">
        <div class="item__img">
            <img src="assets/images/posts/0test_img.jpg" alt="">
        </div>
        <div class="item__text">
            <h3>Постер для дома</h3>
            <p>Краткий гайд по созданию кастомной постерной темы, и то что нам понадобиться. Как дела будут обстоять с подходами инструментами и утт вопрос текста в принципе тут вопрос так себе давай попробую просто подсчитать сколько мне нужно текста для нормального вывода текста</p>
            <div class="item__text__info">
                <time>27.12.2020</time>
                <a href="">Читать</a>
            </div>
        </div>
    </div>
    <div class="posts__list__item small center">
        <div class="item__img">
            <img src="assets/images/posts/1test_img.jpg" alt="">
        </div>
        <div class="item__text">
            <h3>Постер для дома</h3>
            <p>Краткий гайд по созданию кастомной постерной темы, и то что нам понадобиться. Как дела будут обстоять с подходами инструментами и утт вопрос текста в принципе тут вопрос так себе давай попробую просто подсчитать сколько мне нужно текста для нормального вывода текста</p>
            <div class="item__text__info">
                <time>27.12.2020</time>
                <a href="">Читать</a>
            </div>
        </div>
    </div>
    <div class="posts__list__item small right">
        <div class="item__img ">
            <img src="assets/images/posts/0test_img.jpg" alt="" class="img-responsive">
        </div>
        <div class="item__text">
            <h3>Постер для дома</h3>
            <p>Краткий гайд по созданию кастомной постерной темы, и то что нам понадобиться. Как дела будут обстоять с подходами инструментами и утт вопрос текста в принципе тут вопрос так себе давай попробую просто подсчитать сколько мне нужно текста для нормального вывода текста</p>
            <div class="item__text__info">
                <time>27.12.2020</time>
                <a href="">Читать</a>
            </div>
        </div>
    </div>
</div>
