<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
    <div class="page">
        {{> header }}
        <div class="main">
            <div class="container has--poster">
                <div class="poster">
                    <div class="poster__texts">
                        <h2>Брать и просто переводить</h2>
                        <p>тогда берем и читаем</p>
                    </div>
                    <div class="poster__image">
                        <img src="assets/images/poster.png" alt="" >
                    </div>
                </div>
                {{> body }}
            </div>
            <div class="container">
                {{> posts-list }}
                {{> posts-primary }}
                {{> pagination }}
            </div>
        </div>
    </div>
    {{> footer }}
    <script src="assets/js/app.js"></script>
</body>
</html>
