<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
    <div class="page">
        {{> header }}
        <div class="main">
            <div class="container has--poster">
                {{> body }}
            </div>
            <div class="container">
                {{> posts-list }}
                {{> posts-primary }}
                {{> pagination }}
            </div>
        </div>
    </div>
    {{> footer }}
    <script src="assets/js/app.js"></script>
</body>
</html>
