@import "app/src/assets/scss/vars";
@import "app/src/assets/scss/fonts";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}
nav {
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		padding: 6px 12px;
	}
	a {
		display: block;
		text-decoration: none;
	}
}

@import "app/src/assets/scss/media"; // Always at the end
